<html>
<head>
<title>{% block page_title %}Apply a new network-wide blacklist{% endblock %}</title>
    {% block site_css %}
      {% compress css %}
        <link href="{{ static('css/post.css') }}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}

    {% block site_js %}
      {% compress js %}
        <script src="{{ static('js/post.js') }}"></script>
      {% endcompress %}
    {% endblock %}
</head>

<body onLoad="initPage()">

<div class="banner">Apply a new network-wide blacklist</div>
{% if form.errors %}
{{ form.non_field_errors }}
<!--
{% for field in form %}
{{ field.errors }}
{% endfor %}
-->
{% endif %}

<form action="/blacklist/post/" method="post" name="blacklist">
{{ csrf() }}
<fieldset>
<table><tr>
<td class="form_label">Address</td>
<td class="form_field">{{ form.target }}{{ form.target.errors }}</td>
</tr></table>
<div class="comment">
Enter a blacklist target, with optional CIDR value<br/>
Example: 63.245.208.1, 63.245.209.0/24, 2620:101:8000::/48
</div>
</fieldset>
<fieldset>
<table><tr>
<td class="form_label">Blacklist for</td>
<td class="form_field">{{ form.duration }}</td>
</tr><tr>
<td class="form_label">Start Time</td>
<td class="form_field">{{ form.start_date }}{{ form.start_date.errors }}</td>
</tr><tr>
<td class="form_label">End Time</td>
<td class="form_field">{{ form.end_date }}{{ form.end_date.errors }}</td>
</tr></table>
<div class="comment">
All times are in UTC<br/>
Your local timezone is currently: <span name="timezone" id="id_timezone">Unknown</span>
</div>
</fieldset>
<fieldset>
<table><tr>
<td class="form_label">Comment</td>
<td class="form_field">{{ form.comment }}{{ form.comment.errors }}</td>
</tr><tr>
<td class="form_label">Bug ID</td>
<td class="form_field">{{ form.bug_number }} (optional) {{ form.bug_number.errors }}</td>
</tr></table>
</fieldset>
<input type="submit" value="Apply Blacklist" />
</form>
<form action='/blacklist/' method='link'>
<input type='submit' value='Cancel'>
</form>

</body>
</html>
