body { font-family: arial, sans-serif; font-size: 0.8em; }
table { font-family: arial, sans-serif; font-size: 1em; }
input { font-family: arial, sans-serif; font-size: 1em; }
select { font-family: arial, sans-serif; font-size: 1em; }
div { clear: both; }
fieldset { margin-top: 5px; margin-bottom: 5px; background-color: #F0F0F0; }
ul.errorlist { list-style-type: none; display: inline; margin-left: 0; padding-left: 0; }
ul.errorlist li { display: inline; color: red; margin-left: 0px; padding-left: 10px; }
.form_label { text-align: right; padding: 5px; }
.comment { font-style: italic; color: #666666; padding: 5px; }
.banner { font-size: 1.4em }
